#parent-moreInfo {
  display: block;
  padding: 1%;
}

.sub-heading {
  width: fit-content;
  margin: auto;
  border-bottom: 1px solid black;
  margin-bottom: 3%;
}

#achievement-buttons-div {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 2%;
}

#tabs {
  padding: 1%;
}

#cards {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 4%;
}

.customCard {
  margin-bottom: 6%;
}

.description {
  font-size: 140%;
}

#pagination {
  margin: auto;
  width: fit-content;
}

#cards-div {
  display: flex;
  margin: auto;
}

#cards-div-m {
  width: 100%;
  padding: 4%;
}

@media screen and (max-width: 600px) {
  .customCard {
    margin-top: 4%;
  }

  .description {
    font-size: 80%;
  }
}
